<div id="explain">
	<div class="siguup_wrap">
		<i><img src="/static/campaigns/ticai/mobile/image/1/ico24.png" alt="" /></i>
		<article>
			<aside>
				<h3>一、活动时间：<span></span></h3>
				<p>2016年10月26日至11月15日，分为三周开展。</p>
				<p>第一周：10月26日——11月1日</p>
				<p>第二周：11月2日——11月8日</p>
				<p>第三周：11月9日——11月15日</p>
				<h3>二、活动对象</h3>
				<p>江苏省内年满18周岁的微信用户</p>
				<h3>三、活动细则</h3>
				<p>通过“江苏体彩”官方微信捐赠步数：基于“江苏体彩”官方微信入口，提供在线募捐“步数”的互动平台，参与者每天将运动APP记录的当天步行计数截图上传至该平台，兑换等值虚拟现金。</p>
				<p>1、进入活动页面：参与者通过关注“江苏体彩”官方微信，回复活动口令"体彩"，长按识别收到的二维码，方能进入活动页面。官方微信为活动的唯一参与入口。</p>
				<p>2、每日捐赠：参与者每天通过点击微信活动页面的“立即捐赠”，根据画面提示，将计步APP（咕咚、乐动力、微信运动等）中所显示的当天步数截图上传至捐赠平台，并将所捐赠的步数手工录入系统，点击“确认上传”即可。确认上传时，系统会显示上传时间。凡是可以显示行走步数的运动APP截图均可参与公益步数捐赠。参与者可在首页“排行榜”中查看自己的捐赠情况、日排名（由于统计原因，显示的是前一日数据），活动周累计排名，在“大乐透代金券”中查看获得的代金券及使用期限。</p>
				<p>3、兑换规则：系统审核数据无异常后，每10000步可兑换为5元“体彩爱心基金”。每名用户每天最高可捐赠30000步。如果填写捐赠步数超出此范围，系统将默认用户该次捐赠步数为30000步。</p>
				<p>4、奖项设置：本次活动设置日奖和周奖。</p>
				<h5>日奖：</h5>
				<p>1）对每天（09:00-23:59）捐赠步数排位前3000名的用户，系统将于第二天14:00左右派发一张大乐透电子代金券（二维码形式）至该用户活动页面的账号中。若出现步数相同的情况，按上传时系统时间先后进行排序。每个微信号每周只能领取一张代金券，如果遇到排名靠前且当周已领过代金券的情况，则发放排名依次顺延。如当天人数不满3000名，按照实际人数发放。</p>
				<p>2）代金券面额为20元，仅限江苏省内体彩网点用于兑换体彩大乐透彩票，有效期详见代金券。代金券不记名、不挂失、不找零、不兑现，一次性使用，不可分批。用户逾期不领取代金券，则视为自动放弃。</p>
				<h5>周奖：</h5>
				<p>1）本次活动设置每周“乐走达人”奖。每周捐赠公益步数排名位列前50名的用户将自动获此称号（每周评选根据单周的捐赠步数统计，如有并列，以最后一天上传系统时间排序），并获赠一份由江苏体彩提供的奖品，每周奖品如下：</p>
				<table cellspacing="5" cellpadding="5">
					<tr>
						<th>奖项名称</th>
						<th>期数</th>
						<th>奖品</th>
						<th>数量</th>
					</tr>
					<tr>
						<td>乐走达人</td>
						<td>第一周</td>
						<td>运动手环</td>
						<td>50</td>
					</tr>
					<tr>
						<td></td>
						<td>第二周</td>
						<td>运动耳机</td>
						<td>50</td>
					</tr>
					<tr>
						<td></td>
						<td>第三周</td>
						<td>体脂仪</td>
						<td>50</td>
					</tr>
				</table>
				<p>2）每周捐赠公益步数排名前50名的用户产生后，主办方将在江苏体彩官方微信、腾讯大苏网专题页面、江苏体彩网、《扬子晚报》、《现代快报》等媒体公布名单。</p>
				<p>3）周奖名单公布后，工作人员将根据获奖者留下的联系电话进行通知。南京的获奖者须携带个人有效身份证件前往腾讯·大苏网领奖。外地获奖者将通过邮寄方式发放奖品。</p>
				<h6>领奖地址：南京市广州路188号苏宁环球大厦1809室</h6>
				<h3>四、注意事项</h3>
				<p>1、每个微信号每天仅能提交一次捐赠数据，如填写数据小于上传截图数据，以填写数据为准。如填写数据大于上传截图数据，以截图数据为准。</p>
				<p>2、如发现上传图片有明显PS痕迹等不符合提交要求的情况，主办方有权取消该用户参与本次活动的资格。</p>
				<h3>五、兑换规则</h3>
				<p>1、每10000步兑换5元，后台实时自动转换为爱心基金。</p>
				<p>2、每人每天可捐赠1次，为防止恶意上传，每天捐赠步数不超过30000步。</p>
				<p>3、同时,省中心设置捐赠上限，募集爱心基金最高为30万元。达到上限后，用户捐赠步数不再兑换爱心基金，但日奖和周奖照常进行发放。</p>
				<h3>六、线下活动</h3>
				<p>在南京举行线下公益热走，按每公里对应平均步行数兑换爱心基金。活动方案另行公布。<br/><br/><b>活动咨询电话:025-58800321转分机号8025<br/>(工作时间:9:30~12:00,13:00~18:00)</b></p>
			</aside>
		</article>
	</div>
</div>
