<div id="index_wrap">
<section id="index_top">
	<i class="index_bj"></i>
</section>
<section id="index_center">
	<div>
		<i></i>
		<p><span class="step" ng-bind='totalStep'></span>步</p>
		<p>总捐赠步数</p>
	</div>
	<div>
		<i></i>
		<p><span class="money" ng-bind='totalMoney'></span>元</p>
		<p>总捐赠金额</p>
	</div>
</section>
<article id="scoll">
	<div id="scoll_1">
		<p id="text_p">活动开始啦~每日捐赠步数前3000名可获得大乐透代金券，每个id每周限领一次，坚持运动，“金”喜给你！</p>
	</div>
</article>
<a class="donation" ng-click='uploadHtml()'></a>
<p class="shake" ng-click="list.Shake()">分享好友</p>
</div>