<section id="index_top">
	<i class="index_bj1"><img ng-src="/static/campaigns/ticai/mobile/image/1/call/{{Pngname}}.jpg"/></i>
	<em><img src="/static/campaigns/ticai/mobile/image/logo_new.png"/></em>
</section>
<section id="index_center">
	<div>
		<i></i>
		<p><span class="step" ng-bind='counts'></span>步</p>
		<p>我的捐赠步数</p>
	</div>
	<div>
		<i></i>
		<p><span class="money" ng-bind='money'></span>元</p>
		<p>我的捐赠金额</p>
	</div>
</section>
<article id="scoll">
	<div id="scoll_2">
		明天请继续努力哟！
	</div>
</article>
<p class="successShake" ng-click="list.Shake()"></p>