<div id="active">
	<header>
		<div class="calendar">
			<div class="ta_date" id="div_date_demo3">
				<span class="date_title" id="date_demo3"></span>
				<a class="opt_sel" id="input_trigger_demo3">
					<i class="i_orderd"></i>
				</a>
			</div>
			<div id="datePicker"></div>
		</div>
		<div id="pv_uv">
			<p>PV:<span ng-bind='pv'></span></p>
			<p>UV:<span ng-bind='uv'></span></p>
		</div>
		<!--<div id="search">
			<input type="text" placeholder="输入搜索的关键词"  ng-model='keyValue'/>
			<input type="button" value="搜索"  ng-click='Search()'/>
		</div>-->
		<div id="buts">
			<p class="p1"><label><input type="file" id="File" style="display: none;"/><span>券码上传</span></label><span ng-click='Upload()'>提交</span></p>
			<p class="p2" ng-click='extype()'>导出</p>
		</div>
	</header>
	<section id="active_table" class="user">
		<table>
			<thead>
				<tr>
					<th>用户</th>
					<th>卷码</th>
					<th>有效期</th>
					<th>领取时间</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat='data in priceList'>
					<td ng-bind='data.id'></td>
					<td ng-bind='data.pricode'></td>
					<td ng-bind='data.endtime'></td>
					<td ng-bind='data.sendTime'></td>
				</tr>
			</tbody>
		</table>
		<tm-pagination conf="paginationConf"></tm-pagination>
	</section>
</div>