#top_img{
	margin: 10px auto;
	width: 60%;
	margin-bottom: 5%;
}
.top_img1{
	width: 80% !important;
}
#top_img img{
	width: 100%;
}
#box{
	overflow: hidden;
	width: 1103px;
	overflow-y: auto;
	margin: auto;
	-webkit-overflow-scrolling:touch ;
}
.winners{
	width: 100%;
	overflow: hidden;
	padding-bottom: 34px;
	background:url(../img/winner_6.png) repeat-x center bottom;
}
.winner_first{
	width: 90%;
	margin: auto;
}
.comment{
	text-align: center;
}
.comment em:nth-of-type(1){
	width: 50%;
	display:block;
	margin: auto;
	padding-bottom: 3%;
}

.content_left{
	padding-top: 2%;
	float: left;
	display:inline-block;
	color: #E83530;
	font-size: 32px;
	font-weight: bold;
	padding-right: 10px;
}
.content_right{
	white-space: nowrap;
	width: 50%;
	text-align: left;
	float: left;
	display:inline-block;
	color:#686767;
	font-size: 20px;
	font-weight: bold;
}
.space{
	white-space: nowrap;
}
.content_right i{
	display: block;
	font-style: normal;
}
.award{
	
	display:inline-block;
	margin: auto;
	padding-top: 1%;
	clear: both;
	color:#686767;
	font-size: 20px;
}
.award span:nth-of-type(1){
	float: left;
	padding-top: 3px;
}
.award span:nth-of-type(2){
	float: left;

}
.connter{
	display: inline-block;
	margin: auto;
}
.comment .red{
	display: inline-block;
	color: #E83530;
	font-weight: bold;
	text-align: left;
	font-size: 23px;
}
.winner_L{
	width: 50%;
	float: left;
}
.winner_L em,.winner_R em{
	width: 70% !important;
}
.winner_R{
	width: 50%;
	float: right;
}

.award_list{
	padding-top:40px;
	width: 68%;
	margin: auto;
	text-align: center;
}
.award_list i{display: block;
width: 40%;
margin: auto;
margin-bottom: 10px;
}

.award_list em{
	font-style: normal;
	color:#E83530;
	font-size: 24px;
	font-weight: bold;
}

table{
	margin: auto;
	margin-top: 3%;
	width: 700px;
}
table thead th{
	font-size: 30px;
	background-color:#E83530;
	color:#fff;
	height: 54px;
	
}
table thead th:nth-of-type(1),table thead th:nth-of-type(3){
	width: 166px;
}
table thead th:nth-of-type(2){
	width: 368px;
}
table tbody tr td{
	color:#E83530;
	font-weight: bold;
	font-size: 22px;
	height: 50px;
}
table tbody tr:nth-of-type(2n-1) td{
	background-color:#FFE2C0;
}
table tbody tr:nth-of-type(2n) td{
	background-color:#FFD0A1;
}
.List_text{
	width: 700px;
	margin: auto;
	padding-top: 40px;
	text-align: left;
	line-height: 36px;
	color:#E83631;
	font-size: 24px;
	font-weight: bold;
}
.see_works{
	padding-top: 25px;
	text-align: center;
	display: block;
	width: 224px;
	margin: auto;
}
.see_works img{
}
