<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>体彩</title>
	</head>
	<body>
		<style>
			*{
				margin: 0px;
				padding: 0px;
			}
			html,body{
				overflow-x: hidden;
			}
			img{
				vertical-align: middle;
			}
			html{
				
			}
			#box{
				width: 100%;
				text-align: center;
			}
			#box img{
				max-width:1500px;
				width: 100%;
			}
			#footer{color: #272822; text-align: center; width: 100%; padding: 10px 0px; font-size: 12px;}
		</style>
		<div id="box">
			<img src="http://ticai-10030008.file.myqcloud.com/ticaiPC/ticaipc.jpg"/>
			<div id="footer">苏ICP备16007333号-1</div>
		</div>
	</body>
</html>
