<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, width=device-width, target-densitydpi=medium-dpi, user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="format-detection" content="telephone=no" />
		<title>获奖名单</title>
		<link href="{{ static_url }}pc/css/public.css" type=text/css rel=stylesheet>
		<link href="{{ static_url }}pc/css/winners.css" type=text/css rel=stylesheet>
		
	</head>
	<body>
		<!--上部分开始-->
		<div id="wrap_top">
			<div class="top_left">
				<img src="{{ static_url }}pc/img/fenda.png">
			</div>
			<div class="top_center">
				<i><img src="{{ static_url }}pc/img/winner_1.png"/></i>
				<i class="i_eq2"><img src="{{ static_url }}pc/img/winner_8.png"/></i>
			</div>
			<div class="top_right">
				<a href="index.html"><img src="{{ static_url }}pc/img/back_index.png" /></a>
			</div>
		</div>
		
		<section id="box">
			<article class="winners"  style="background:none;">
				<div class="winner_first comment">
					<em><img src="{{ static_url }}pc/img/winner_2.png"/></em>
					<div class="connter">
						<span class="content_left">于卓远  </span>
						<span class="content_right">
							<i>南京市江宁区实验小学</i>
							<i>作品编号：<span class="red">218</span></i>
						</span>
					</div><br/>
					<p class="award"><span>奖品:</span><span class="red space">4999元途牛旅游大奖、一等奖证书</span></p>
				</div>
			</article>
			<article class="winners">
				<div class="winner_first comment winner_L">
					<em><img src="{{ static_url }}pc/img/winner_3.png"/></em>
					<div class="connter">
						<span class="content_left">潘越  </span>
						<span class="content_right">
							<i>南京外国语学校仙林分校 </i>
							<i>作品编号：<span class="red">201</span></i>
						</span>
					</div><br/>
					<p class="award"><span>奖品:</span><span class="red">价值2000元步步高电子学习机、二等奖证书</span></p>
				</div>
				<div class="winner_first comment winner_R">
					<em><img src="{{ static_url }}pc/img/winner_4.png"/></em>
					<div class="connter">
						<span class="content_left">周晓红  </span>
						<span class="content_right">
							<i>明发分校 </i>
							<i>作品编号：<span class="red">125</span></i>
						</span>
					</div><br/>
					<p class="award"><span>奖品:</span><span class="red">助学金1000元,三等奖证书三等奖证书</span></p>
				</div>
			</article>
			
			<article class="award_list">
				<i><img src="{{ static_url }}pc/img/winner_5.png"/></i>
				<em>奖品：芬达优秀奖证书；</em>
				<table cellpadding="0" cellspacing="3">
					<thead>
						<tr>
							<th>姓名</th>
							<th>院校</th>
							<th>作品编号</th>
						</tr>
					</thead>
					<tbody>
					<tr>
						<td>朱昱融</td>
						<td>南京外国语学校仙林分校</td>
						<td>202</td>
					</tr>
					<tr>
						<td>袁立</td>
						<td>南京外国语学校仙林分校</td>
						<td>203</td>
					</tr>
					<tr>
						<td>陈雨凡</td>
						<td>南京外国语学校仙林分校</td>
						<td>204</td>
					</tr>
					
					<tr>
						<td>藤子萱</td>
						<td>南京外国语学校仙林分校</td>
						<td>265</td>
					</tr>
					<tr>
						<td>汪雨生</td>
						<td>南京外国语学校仙林分校</td>
						<td>526</td>
					</tr>
					<tr>
						<td>彭泰宇</td>
						<td>南京七彩鹿培训班</td>
						<td>555</td>
					</tr>
					<tr>
						<td>徐嫄</td>
						<td>南京外国语学校仙林分校</td>
						<td>263</td>
					</tr>
					</tbody>
				</table>
				<p class="List_text">具体颁奖典礼时间地点将以电话形式邀请获奖选手参加，请保持电话畅通，同时官网活动规则版块也会实时公布颁奖典礼时间地点，敬请留意！</p>
			</article>
		</section>
		<a href="http://fanta.kuh5.net/fenda201605/pc/works.html" class="see_works"><img src="{{ static_url }}pc/img/winner_7.png"/></a>
		<div id="wrap_footer" style="position: static; margin-top: -70px;"></div>
	</body>
</html>
