<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, width=device-width, user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="format-detection" content="telephone=no" />
		<script type="text/javascript" src="{{ static_url }}mobile/ticai/ticaijs/font-size.js" ></script>
		<script type="text/javascript" src="{{ static_url }}mobile/ticai/ticaijs/jquery-3.0.0.min.js" ></script>
		<script src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
		<script type="text/javascript" src="{{ static_url }}mobile/ticai/ticaijs/wx-newshare.js?time=1234"></script>
		<link rel="stylesheet" href="{{ static_url }}mobile/ticai/css/animate.min.css" />
		<link rel="stylesheet" type="text/css" href="{{ static_url }}mobile/ticai/css/ticainew.css"/>
		<title>体彩</title>
		
	</head>
	<body style="opacity: 0;">
	    
		<div id="bj">
			<em><img src="{{ static_url }}mobile/ticai/ticaiimg/bj-min1.jpg" style="opacity: 0;"/></em>
		</div>
		<div class="ding_img" id="ding"></div>
		<div id="wrap">
		<div  class="background" id="back">
			<img  id="dowebok1" class="animated bounceInDown" src="{{ static_url }}mobile/ticai/ticaiimg/1-1-min.png?time=111" />
			<img  id="dowebok2" class="animated bounceIn" src="{{ static_url }}mobile/ticai/ticaiimg/1-2-min.png"/>
			<img  id="dowebok3" class="animated bounceIn" src="{{ static_url }}mobile/ticai/ticaiimg/1-3-min.png" />
			<img  id="dowebok4" class="animated fadeInLeft"  src="{{ static_url }}mobile/ticai/ticaiimg/1-4-min.png" />
			<img  id="dowebok5" class="animated fadeInRight" src="{{ static_url }}mobile/ticai/ticaiimg/1-5-min.png" />
			<!--
            	作者：1132326158@qq.com
            	时间：2016-10-19
            	描述：
            	
            -->
			<img  id="dowebok7" class="animated bounceInRight" src="{{ static_url }}mobile/ticai/ticaiimg/2-1-min.png" />
			<img  id="dowebok8" class="animated bounceInLeft"  src="{{ static_url }}mobile/ticai/ticaiimg/2-2-min.png" />
			<img  id="dowebok11" class="animated bounceInLeft" src="{{ static_url }}mobile/ticai/ticaiimg/3-1-min.png" />
			<img  id="dowebok12"   class="animated bounceInRight" src="{{ static_url }}mobile/ticai/ticaiimg/3-2-min.png" />
			<img  id="dowebok13"   class="animated bounceInLeft" src="{{ static_url }}mobile/ticai/ticaiimg/4-1-min.png" />
			<img  id="dowebok14"  class="animated bounceInRight" src="{{ static_url }}mobile/ticai/ticaiimg/4-2-min.png" />
			<img  id="dowebok15"  class="animated bounceInLeft" src="{{ static_url }}mobile/ticai/ticaiimg/5-1-min.png" />
			<img  id="dowebok16"  class="animated bounceInRight"  src="{{ static_url }}mobile/ticai/ticaiimg/5-2-min.png" />
			<img  id="dowebok17"  class="animated bounceInLeft" src="{{ static_url }}mobile/ticai/ticaiimg/6-1-min.png" />
			<img  id="dowebok18"  class="animated bounceInRight"  src="{{ static_url }}mobile/ticai/ticaiimg/6-2-min.png" />
			<img  id="dowebok19" class="animated fadeIn" src="{{ static_url }}mobile/ticai/ticaiimg/7-1-min.png" />
			<img  id="dowebok20" class="animated fadeIn" src="{{ static_url }}mobile/ticai/ticaiimg/7-2-min.png" />
			<img  id="dowebok21" class="animated fadeIn" src="{{ static_url }}mobile/ticai/ticaiimg/8-1-min.png" />
			<img  id="dowebok22" class="animated fadeIn" src="{{ static_url }}mobile/ticai/ticaiimg/8-2-min.png" />
			<img  id="dowebok23" class="animated fadeIn" src="{{ static_url }}mobile/ticai/ticaiimg/9-1-min.png" />
			<img  id="dowebok25" class=" " src="{{ static_url }}mobile/ticai/ticaiimg/9-3-min.png" />
			<img  id="dowebok24" class=" " src="{{ static_url }}mobile/ticai/ticaiimg/9-2-min.png" />
			<img  id="dowebok26" class="animated fadeIn" src="{{ static_url }}mobile/ticai/ticaiimg/2-3-min.png" />
			<img  id="dowebok27" class="animated fadeIn" src="{{ static_url }}mobile/ticai/ticaiimg/2-3-min.png" />
			<img  id="dowebok28" class="animated fadeIn" src="{{ static_url }}mobile/ticai/ticaiimg/2-3-min.png" />
			<img  id="dowebok29" class="animated fadeIn" src="{{ static_url }}mobile/ticai/ticaiimg/2-3-min.png" />
			<img  id="dowebok30" class="animated fadeIn" src="{{ static_url }}mobile/ticai/ticaiimg/2-3-min.png" />
			<img  id="dowebok31" class="animated fadeIn" src="{{ static_url }}mobile/ticai/ticaiimg/2-3-min.png" />
			<img  id="dowebok32" class="animated fadeIn" src="{{ static_url }}mobile/ticai/ticaiimg/2-3-min.png" />
			<img  id="dowebok33" class="animated fadeIn" src="{{ static_url }}mobile/ticai/ticaiimg/2-3-min.png" />
			<img  id="dowebok34" class="animated fadeIn" src="{{ static_url }}mobile/ticai/ticaiimg/2-3-min.png" />
			<img  id="dowebok35" class="animated fadeIn" src="{{ static_url }}mobile/ticai/ticaiimg/2-3-min.png" />
			<img  id="dowebok36" class="animated fadeIn" src="{{ static_url }}mobile/ticai/ticaiimg/2-3-min.png" />
			<img  id="dowebok37" class="animated fadeIn" src="{{ static_url }}mobile/ticai/ticaiimg/2-3-min.png" />
			<img  id="dowebok38" class="animated fadeIn" src="{{ static_url }}mobile/ticai/ticaiimg/2-3-min.png" />
			<img  id="dowebok39" class="animated fadeIn" src="{{ static_url }}mobile/ticai/ticaiimg/2-3-min.png" />
			<img  id="dowebok40" class="animated fadeIn" src="{{ static_url }}mobile/ticai/ticaiimg/2-3-min.png" />
			<img  id="dowebok41" class="animated fadeIn" src="{{ static_url }}mobile/ticai/ticaiimg/2-3-min.png" />
			<img  id="dowebok42" class="animated fadeIn" src="{{ static_url }}mobile/ticai/ticaiimg/2-3-min.png" />
			<img  id="dowebok43" class="animated fadeIn" src="{{ static_url }}mobile/ticai/ticaiimg/2-3-min.png" />
			<img  id="dowebok44" class="animated fadeIn" src="{{ static_url }}mobile/ticai/ticaiimg/2-3-min.png" />
			<img  id="dowebok45" class="animated fadeIn" src="{{ static_url }}mobile/ticai/ticaiimg/2-3-min.png" />
			<img  id="dowebok46" class="animated fadeIn" src="{{ static_url }}mobile/ticai/ticaiimg/2-3-min.png" />
			<img  id="dowebok47" class="animated fadeIn" src="{{ static_url }}mobile/ticai/ticaiimg/2-3-min.png" />
			<img  id="dowebok48" class="animated fadeIn" src="{{ static_url }}mobile/ticai/ticaiimg/2-3-min.png" />
			<img  id="dowebok49" class="animated fadeIn" src="{{ static_url }}mobile/ticai/ticaiimg/2-3-min.png" />
			<img  id="dowebok50" class="animated fadeIn" src="{{ static_url }}mobile/ticai/ticaiimg/2-3-min.png" />
			<img  id="dowebok51" class="animated fadeIn" src="{{ static_url }}mobile/ticai/ticaiimg/2-3-min.png" />
			<img  id="dowebok52" class="animated fadeIn" src="{{ static_url }}mobile/ticai/ticaiimg/2-3-min.png" />
			<img  id="dowebok53" class="animated fadeIn" src="{{ static_url }}mobile/ticai/ticaiimg/2-3-min.png" />
			<img  id="dowebok54" class="animated fadeIn" src="{{ static_url }}mobile/ticai/ticaiimg/2-3-min.png" />
			<img  id="dowebok55" class="animated fadeIn" src="{{ static_url }}mobile/ticai/ticaiimg/2-3-min.png" />
			<img  id="dowebok56" class="animated fadeIn" src="{{ static_url }}mobile/ticai/ticaiimg/2-3-min.png" />
		</div>
		</div>
		<div class="location"> 
		</div>
		<div class="tankuang">
			<img  id="t1" src="{{ static_url }}mobile/ticai/ticaiimg/10-2.png"/>
			<img  id="t2" src="{{ static_url }}mobile/ticai/ticaiimg/10-3-min.png" />
		</div>
		<div class="fuceng" id="zz">
			<img id="fuceng" src="{{ static_url }}mobile/ticai/ticaiimg/10-1-min.png"/>
		</div>
		
		<script>
		$(function(){
			
		
			 var BJ=new Image();
			BJ.src='{{ static_url }}mobile/ticai/ticaiimg/bj-min1.jpg';
          var Time,em;
          var d=$('#back img');
          var arr=[],Windheight=$(window).height();
          var W=$('#bj').height();
          $('#back').height(W);
           var  isMove=true,tx=0,x=0,cha=0;
          var OffsetTop=1,a;
           var This=document.getElementById("back")
           var animateImg=document.getElementsByClassName('animated');
          var  animateImg_length=animateImg.length;
          
          
           
           BJ.onload=function(){
           	//alert(111)
           $('body').css('opacity','1')
          document.querySelector('#ding').addEventListener("touchstart",function(event){
          	event.preventDefault();
          	clearInterval(Time);
	      Time=setInterval(function(){
		  OffsetTop+=5;
		  if(OffsetTop<(W-Windheight-10)){
		  	 This.style.webkitTransform='translateY(-'+OffsetTop+'px)';
		  }else{
		  	 $('#ding').css("display",'none');
		  	//This.style.webkitTransform='translateY(-'+W-Windheight+'px)'
		  }
		  
          a=document.getElementsByClassName('location')[0].offsetTop-250;
          //console.log(a);
          //console.log(OffsetTop+Windheight);
          for (var i=0;i<d.length;i++) {
            	(function(i){
            		em=d[i];
            	 	var a = em.offsetTop;
			      if ( a < ( OffsetTop+Windheight-200 )) {
			          em.style.webkitAnimationPlayState="running";
			          em.style.AnimationPlayState="running";
			         }
            	})(i)
            } 
//          while((document.getElementById('dowebok25').style.webkitAnimationPlayState)=="running"){
//          	document.getElementsByClassName('ding_img')[0].style.opacity="0";
//          }
			     
		   },30)
         }, false);
        
	     document.querySelector('#ding').addEventListener("touchend",function(event){
	     event.preventDefault();
	     clearInterval(Time)
        }, false);
       } 
//     BJ.onerror=function(){
//         	alert(1111);
//         	//window.location.href=window.location.href;
//         }
        
       tag_num = $(".background_img >backgroundimage").length; 
                nav_heightx = document.body.clientHeight; //获取可视区域高度  
                max_height = (tag_num *- nav_heightx + 100) * 1; //获取下滑最大距离  
                var This;
                document.getElementById("back").ontouchstart=function(e){
                	var n=0;
                	//e.preventDefault();
	                  This=this;   
	                x = e.touches[0].clientY; 
	                this.ontouchmove=function(e){
	                	
	                	e.preventDefault();
	                	$('.time_img').addClass('none');
		                    n = e.touches[0].pageY -x; 
		                    if (n >=0 ) {
		                    	 cha=OffsetTop-n;
		                        $("#back").css('webkitTransform','translateY(-'+cha+'px)');  
		                    }  
	                };
	                this.ontouchend=function(){
	                	if(Math.abs(n)>20){
	                		$('#ding').css("display",'block');
		                	OffsetTop=cha;
		                	This.ontouchmove=null;
		                	This.ontouchend=null;
	                	}
		                	
	                	
	                };
	                
                };
            document.getElementById('dowebok25').onclick=function(e){
            	e.stopPropagation();
				//document.getElementsByClassName('choujiang')[0].style.display='block';
				//console.log(1111)
				$('.tankuang').addClass('tankuang_active');
			}
            document.getElementById('t2').onclick=function(e){
            	e.stopPropagation();
				$('.tankuang').removeClass('tankuang_active');
			}
            document.getElementById('dowebok24').onclick=function(e){
				e.stopPropagation();
				//document.getElementsByClassName('choujiang')[0].style.display='block';
				//console.log(1111)
				$('.fuceng').addClass('fuceng_active');
			}
            document.getElementById('zz').onclick=function(e){
            	e.stopPropagation();
            	//console.log(1111)
				$('.fuceng').removeClass('fuceng_active');
			}  
		})
		</script>
		
		<audio autoplay="autoplay" loop="loop" src="{{ static_url }}mobile/ticai/ticaiimg/yinyue.mp3"></audio>
	</body>
</html>
