<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, width=device-width, user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="format-detection" content="telephone=no" />
		<script type="text/javascript" src="{{ static_url }}mobile/js/app/fontSize.js" ></script>
		<link rel="stylesheet" href="{{ static_url }}mobile/css/list.css" />
		<title>点亮孩子们的梦想星空</title>
	</head>
	<body>
		<audio class="none" id="music" loop="loop" autoplay="autoplay" src="{{ static_url }}mobile/image/xx.mp3"></audio>
		<i id="music_bj"><img id="music_img" src="{{ static_url }}mobile/image/kai.png"/></i>
		<div id="container">
			<em><img src="{{ static_url }}mobile/image/xx1.png"/></em>
			<em><img src="{{ static_url }}mobile/image/xx2.png"/></em>
			<em><img src="{{ static_url }}mobile/image/xx3.png"/></em>
			<em><img src="{{ static_url }}mobile/image/xx4.png"/></em>
			<em><img src="{{ static_url }}mobile/image/xx5.png"/></em>
			<em><img src="{{ static_url }}mobile/image/xx6.png"/></em>
			<em><img src="{{ static_url }}mobile/image/xx1.png"/></em>
			<em><img src="{{ static_url }}mobile/image/xx2.png"/></em>
			<em><img src="{{ static_url }}mobile/image/xx3.png"/></em>
			<em><img src="{{ static_url }}mobile/image/xx4.png"/></em>
			<em><img src="{{ static_url }}mobile/image/xx5.png"/></em>
			<em><img src="{{ static_url }}mobile/image/xx6.png"/></em>
			<em><img src="{{ static_url }}mobile/image/xx2.png"/></em>
		</div>
		<div id="box">
			<ul id="list">
			
			</ul>
		</div>
		<p class="list_text"><img src="{{ static_url }}mobile/image/list-1-min.png"/></p>
		<em class="list_but"><img src="{{ static_url }}mobile/image/list-2-min.png"/></em>
		<script type="text/javascript" src="{{ static_url }}mobile/js/plugins/zepto.min.js" ></script>
	    <script type="text/javascript" src="{{ static_url }}mobile/js/plugins/zepto.selector.min.js" ></script>
	    <script type="text/javascript" src="{{ static_url }}mobile/js/plugins/zepto.fx.min.js" ></script>
	    <script type="text/javascript" src="{{ static_url }}mobile/js/plugins/zepto.cookie.min.js" ></script>
	    <script type="text/javascript" src="{{ static_url }}mobile/js/plugins/common.js" ></script>
	    <script src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
		<script src="{{ static_url }}mobile/js/plugins/wx-share.js?time=12"></script>
	    <script type="text/javascript" src="{{ static_url }}mobile/js/app/list.js" ></script>
	</body>
</html>
