<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, width=device-width, user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="format-detection" content="telephone=no" />
		<script type="text/javascript" src="{{ static_url }}mobile/js/app/fontSize.js" ></script>
		<link rel="stylesheet" href="{{ static_url }}mobile/css/idangerous.swiper.css" />
		<link rel="stylesheet" href="{{ static_url }}mobile/css/public.css" />
		<link rel="stylesheet" href="{{ static_url }}mobile/css/main.css" />
		<title>点亮孩子们的梦想星空</title>
	</head>
	<body>
		<audio class="none" id="music" autoplay="autoplay" loop="loop" src="{{ static_url }}mobile/image/xx.mp3"></audio>
		<i id="music_bj"><img id="music_img" src="{{ static_url }}mobile/image/kai.png"/></i>
		<div id="main">
			 <div class="device">
			 	<a class="arrow-left" href="#"><img src="{{ static_url }}mobile/image/left.png"/></a> 
			    <a class="arrow-right" href="#"><img src="{{ static_url }}mobile/image/right.png"/></a>
			    <div class="swiper-container">
			      <div class="swiper-wrapper">
			      	
			      </div>
			    </div>
			    <div class="pagination none"></div>
			  </div>
			  <div id='buts'>
			  	<p>
			  		<a href='list.html'><img src='{{ static_url }}mobile/image/back-min.png'/></a>
			  		<a><img  class='vote' src="{{ static_url }}mobile/image/vote-min.png"><img class="disVote none" src="{{ static_url }}mobile/image/disvote.png"/></a>
			  	</p>
			  	<h6>每个愿望若有10000个助力，星星将完全被点亮，<br/>江苏人保会将您的爱心兑换成礼物，送到孩子手上</h6>
			  </div>
		</div>
		
		<script type="text/javascript" src="{{ static_url }}mobile/js/plugins/zepto.min.js" ></script>
	    <script type="text/javascript" src="{{ static_url }}mobile/js/plugins/zepto.selector.min.js" ></script>
	    <script type="text/javascript" src="{{ static_url }}mobile/js/plugins/zepto.fx.min.js" ></script>
	    <script type="text/javascript" src="{{ static_url }}mobile/js/plugins/zepto.cookie.min.js" ></script>
	    <script type="text/javascript" src="{{ static_url }}mobile/js/plugins/common.js" ></script>
	    <script type="text/javascript" src="{{ static_url }}mobile/js/plugins/idangerous.swiper.min.js" ></script>
	    <script src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
		<script src="{{ static_url }}mobile/js/plugins/wx-share.js?time=12"></script>
	    <script type="text/javascript" src="{{ static_url }}mobile/js/app/main.js" ></script>
	</body>
</html>
